POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=weldomat_monitor
POSTGRES_USER=weldomat
POSTGRES_PASSWORD=change-this-password
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-this-grafana-password
TIMEZONE=Asia/Kolkata
GPIO_PIN=17
DEBOUNCE_SECONDS=0.08
ACTIVE_HIGH=true
SIMULATION_MODE=true
